.countries{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.flags-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.flags-container img{
    width: 200px;
    height: 100px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid skyblue;
}

@media screen and (max-width: 480px) {
    .countries{
        grid-template-columns: repeat(1, 1fr)
    }
    .flags-container{
        flex-direction: column;
        align-items: center;
    }
}